<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>MKJC</td>
      <td>682.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>UMRH</td>
      <td>918.30</td>
      <td>9.99</td>
    </tr>
    <tr>
      <th></th>
      <td>SPC</td>
      <td>790.00</td>
      <td>8.52</td>
    </tr>
    <tr>
      <th></th>
      <td>TPC</td>
      <td>758.00</td>
      <td>6.76</td>
    </tr>
    <tr>
      <th></th>
      <td>CORBL</td>
      <td>562.00</td>
      <td>6.04</td>
    </tr>
    <tr>
      <th></th>
      <td>BARUN</td>
      <td>560.90</td>
      <td>5.43</td>
    </tr>
    <tr>
      <th></th>
      <td>GHL</td>
      <td>347.00</td>
      <td>5.15</td>
    </tr>
    <tr>
      <th></th>
      <td>ICFC</td>
      <td>715.00</td>
      <td>4.84</td>
    </tr>
    <tr>
      <th></th>
      <td>NYADI</td>
      <td>535.00</td>
      <td>4.70</td>
    </tr>
    <tr>
      <th></th>
      <td>EBL</td>
      <td>601.00</td>
      <td>3.98</td>
    </tr>
    <tr>
      <th></th>
      <td>BNHC</td>
      <td>693.00</td>
      <td>3.90</td>
    </tr>
    <tr>
      <th></th>
      <td>GUFL</td>
      <td>717.00</td>
      <td>3.76</td>
    </tr>
    <tr>
      <th></th>
      <td>SIC</td>
      <td>1337.00</td>
      <td>3.64</td>
    </tr>
    <tr>
      <th></th>
      <td>DHPL</td>
      <td>327.00</td>
      <td>3.32</td>
    </tr>
    <tr>
      <th></th>
      <td>MBJC</td>
      <td>427.00</td>
      <td>3.14</td>
    </tr>
    <tr>
      <th></th>
      <td>LEMF</td>
      <td>11.00</td>
      <td>3.09</td>
    </tr>
    <tr>
      <th></th>
      <td>BFC</td>
      <td>483.00</td>
      <td>2.99</td>
    </tr>
    <tr>
      <th></th>
      <td>PPCL</td>
      <td>530.00</td>
      <td>2.91</td>
    </tr>
    <tr>
      <th></th>
      <td>GLH</td>
      <td>484.00</td>
      <td>2.78</td>
    </tr>
    <tr>
      <th></th>
      <td>SSHL</td>
      <td>372.00</td>
      <td>2.76</td>
    </tr>
    <tr>
      <th></th>
      <td>NBF2</td>
      <td>11.20</td>
      <td>2.75</td>
    </tr>
    <tr>
      <th></th>
      <td>NCCB</td>
      <td>269.00</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th></th>
      <td>LGIL</td>
      <td>741.00</td>
      <td>2.63</td>
    </tr>
    <tr>
      <th></th>
      <td>PICL</td>
      <td>725.00</td>
      <td>2.62</td>
    </tr>
    <tr>
      <th></th>
      <td>MNBBL</td>
      <td>527.00</td>
      <td>2.53</td>
    </tr>
    <tr>
      <th></th>
      <td>LBBL</td>
      <td>494.00</td>
      <td>2.45</td>
    </tr>
    <tr>
      <th></th>
      <td>PFL</td>
      <td>543.00</td>
      <td>2.45</td>
    </tr>
    <tr>
      <th></th>
      <td>NTC</td>
      <td>1779.00</td>
      <td>2.42</td>
    </tr>
    <tr>
      <th></th>
      <td>BBC</td>
      <td>4860.00</td>
      <td>2.32</td>
    </tr>
    <tr>
      <th></th>
      <td>JLI</td>
      <td>625.00</td>
      <td>2.29</td>
    </tr>
    <tr>
      <th></th>
      <td>MEN</td>
      <td>1160.00</td>
      <td>2.20</td>
    </tr>
    <tr>
      <th></th>
      <td>MDB</td>
      <td>512.00</td>
      <td>2.20</td>
    </tr>
    <tr>
      <th></th>
      <td>GRDBL</td>
      <td>352.00</td>
      <td>2.03</td>
    </tr>
    <tr>
      <th></th>
      <td>EDBL</td>
      <td>515.10</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th></th>
      <td>RURU</td>
      <td>1029.00</td>
      <td>1.98</td>
    </tr>
    <tr>
      <th></th>
      <td>NIBD2082</td>
      <td>1023.00</td>
      <td>1.93</td>
    </tr>
    <tr>
      <th></th>
      <td>CFCL</td>
      <td>469.00</td>
      <td>1.85</td>
    </tr>
    <tr>
      <th></th>
      <td>ILBS</td>
      <td>1296.90</td>
      <td>1.80</td>
    </tr>
    <tr>
      <th></th>
      <td>SADBL</td>
      <td>397.00</td>
      <td>1.79</td>
    </tr>
    <tr>
      <th></th>
      <td>SRBL</td>
      <td>270.00</td>
      <td>1.73</td>
    </tr>
    <tr>
      <th></th>
      <td>RBCL</td>
      <td>18194.00</td>
      <td>1.71</td>
    </tr>
    <tr>
      <th></th>
      <td>GFCL</td>
      <td>655.00</td>
      <td>1.69</td>
    </tr>
    <tr>
      <th></th>
      <td>OHL</td>
      <td>499.00</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th></th>
      <td>SFCL</td>
      <td>383.00</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th></th>
      <td>KKHC</td>
      <td>320.00</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th></th>
      <td>RSDC</td>
      <td>746.50</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th></th>
      <td>RLFL</td>
      <td>467.00</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th></th>
      <td>VLBS</td>
      <td>1280.10</td>
      <td>1.49</td>
    </tr>
    <tr>
      <th></th>
      <td>SKBBL</td>
      <td>1289.90</td>
      <td>1.49</td>
    </tr>
    <tr>
      <th></th>
      <td>MLBL</td>
      <td>492.00</td>
      <td>1.44</td>
    </tr>
  </tbody>
</table>