<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>PRIN</td>
      <td>811.80</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>PLIC</td>
      <td>700.70</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>ALICL</td>
      <td>1188.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>JLI</td>
      <td>600.60</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>RLI</td>
      <td>536.80</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>MBJC</td>
      <td>110.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>PLI</td>
      <td>583.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>LGIL</td>
      <td>704.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>PICL</td>
      <td>676.50</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>PIC</td>
      <td>1008.70</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>EIC</td>
      <td>676.50</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>UIC</td>
      <td>682.00</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>NLICL</td>
      <td>951.50</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>GLICL</td>
      <td>575.30</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>SLI</td>
      <td>535.70</td>
      <td>10.00</td>
    </tr>
    <tr>
      <th></th>
      <td>SLICL</td>
      <td>702.70</td>
      <td>9.99</td>
    </tr>
    <tr>
      <th></th>
      <td>GIC</td>
      <td>600.20</td>
      <td>9.99</td>
    </tr>
    <tr>
      <th></th>
      <td>NLG</td>
      <td>890.40</td>
      <td>9.99</td>
    </tr>
    <tr>
      <th></th>
      <td>NLIC</td>
      <td>1533.00</td>
      <td>9.97</td>
    </tr>
    <tr>
      <th></th>
      <td>NICL</td>
      <td>817.00</td>
      <td>9.96</td>
    </tr>
    <tr>
      <th></th>
      <td>SHIVM</td>
      <td>1441.00</td>
      <td>9.92</td>
    </tr>
    <tr>
      <th></th>
      <td>BNT</td>
      <td>14598.00</td>
      <td>9.76</td>
    </tr>
    <tr>
      <th></th>
      <td>KLBSL</td>
      <td>1330.00</td>
      <td>9.74</td>
    </tr>
    <tr>
      <th></th>
      <td>NIL</td>
      <td>1212.00</td>
      <td>9.68</td>
    </tr>
    <tr>
      <th></th>
      <td>KMCDB</td>
      <td>1271.90</td>
      <td>9.65</td>
    </tr>
    <tr>
      <th></th>
      <td>SGI</td>
      <td>598.00</td>
      <td>9.58</td>
    </tr>
    <tr>
      <th></th>
      <td>AIL</td>
      <td>727.00</td>
      <td>9.32</td>
    </tr>
    <tr>
      <th></th>
      <td>MLBBL</td>
      <td>1900.00</td>
      <td>9.23</td>
    </tr>
    <tr>
      <th></th>
      <td>ULI</td>
      <td>671.00</td>
      <td>9.11</td>
    </tr>
    <tr>
      <th></th>
      <td>SIC</td>
      <td>1274.90</td>
      <td>8.59</td>
    </tr>
    <tr>
      <th></th>
      <td>LICN</td>
      <td>2024.00</td>
      <td>8.53</td>
    </tr>
    <tr>
      <th></th>
      <td>SIL</td>
      <td>930.00</td>
      <td>8.39</td>
    </tr>
    <tr>
      <th></th>
      <td>RBCL</td>
      <td>16945.00</td>
      <td>8.27</td>
    </tr>
    <tr>
      <th></th>
      <td>HGI</td>
      <td>687.90</td>
      <td>8.16</td>
    </tr>
    <tr>
      <th></th>
      <td>SPC</td>
      <td>469.20</td>
      <td>7.61</td>
    </tr>
    <tr>
      <th></th>
      <td>FMDBL</td>
      <td>771.00</td>
      <td>7.53</td>
    </tr>
    <tr>
      <th></th>
      <td>GBLBS</td>
      <td>940.00</td>
      <td>7.31</td>
    </tr>
    <tr>
      <th></th>
      <td>CIT</td>
      <td>3240.00</td>
      <td>7.25</td>
    </tr>
    <tr>
      <th></th>
      <td>IGI</td>
      <td>1069.00</td>
      <td>7.01</td>
    </tr>
    <tr>
      <th></th>
      <td>SLBSL</td>
      <td>1109.90</td>
      <td>6.71</td>
    </tr>
    <tr>
      <th></th>
      <td>NRIC</td>
      <td>1359.00</td>
      <td>6.59</td>
    </tr>
    <tr>
      <th></th>
      <td>MERO</td>
      <td>1070.00</td>
      <td>6.47</td>
    </tr>
    <tr>
      <th></th>
      <td>RBCLPO</td>
      <td>13800.00</td>
      <td>6.20</td>
    </tr>
    <tr>
      <th></th>
      <td>UMRH</td>
      <td>547.50</td>
      <td>6.10</td>
    </tr>
    <tr>
      <th></th>
      <td>NLBBL</td>
      <td>1055.00</td>
      <td>6.03</td>
    </tr>
    <tr>
      <th></th>
      <td>RSDC</td>
      <td>736.00</td>
      <td>5.75</td>
    </tr>
    <tr>
      <th></th>
      <td>SLBBL</td>
      <td>1043.00</td>
      <td>5.46</td>
    </tr>
    <tr>
      <th></th>
      <td>EICPO</td>
      <td>435.90</td>
      <td>5.39</td>
    </tr>
    <tr>
      <th></th>
      <td>SDLBSL</td>
      <td>1265.00</td>
      <td>5.37</td>
    </tr>
    <tr>
      <th></th>
      <td>FOWAD</td>
      <td>2764.20</td>
      <td>5.30</td>
    </tr>
  </tbody>
</table>