<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>NHDL</td>
      <td>575.00</td>
      <td>8.08</td>
    </tr>
    <tr>
      <th></th>
      <td>NRN</td>
      <td>820.00</td>
      <td>3.80</td>
    </tr>
    <tr>
      <th></th>
      <td>SICL</td>
      <td>1600.00</td>
      <td>3.17</td>
    </tr>
    <tr>
      <th></th>
      <td>SAHAS</td>
      <td>720.00</td>
      <td>2.86</td>
    </tr>
    <tr>
      <th></th>
      <td>PBD85</td>
      <td>918.00</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th></th>
      <td>MFLD85</td>
      <td>936.30</td>
      <td>1.99</td>
    </tr>
    <tr>
      <th></th>
      <td>PIC</td>
      <td>1014.00</td>
      <td>1.91</td>
    </tr>
    <tr>
      <th></th>
      <td>SPDL</td>
      <td>529.90</td>
      <td>1.90</td>
    </tr>
    <tr>
      <th></th>
      <td>CMF2</td>
      <td>10.55</td>
      <td>1.83</td>
    </tr>
    <tr>
      <th></th>
      <td>NICSF</td>
      <td>9.23</td>
      <td>1.76</td>
    </tr>
    <tr>
      <th></th>
      <td>SMB</td>
      <td>2020.00</td>
      <td>1.50</td>
    </tr>
    <tr>
      <th></th>
      <td>SSHL</td>
      <td>392.00</td>
      <td>1.32</td>
    </tr>
    <tr>
      <th></th>
      <td>AHPC</td>
      <td>599.00</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th></th>
      <td>NIFRA</td>
      <td>380.00</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th></th>
      <td>SHPC</td>
      <td>459.00</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th></th>
      <td>ADBLD83</td>
      <td>995.00</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th></th>
      <td>NBLD85</td>
      <td>862.00</td>
      <td>0.68</td>
    </tr>
    <tr>
      <th></th>
      <td>SFMF</td>
      <td>12.23</td>
      <td>0.66</td>
    </tr>
    <tr>
      <th></th>
      <td>KEF</td>
      <td>9.30</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th></th>
      <td>LEMF</td>
      <td>10.70</td>
      <td>0.47</td>
    </tr>
    <tr>
      <th></th>
      <td>SIGS2</td>
      <td>11.66</td>
      <td>0.43</td>
    </tr>
    <tr>
      <th></th>
      <td>SPC</td>
      <td>678.90</td>
      <td>0.43</td>
    </tr>
    <tr>
      <th></th>
      <td>ICFCD83</td>
      <td>1105.00</td>
      <td>0.36</td>
    </tr>
    <tr>
      <th></th>
      <td>SHIVM</td>
      <td>1471.00</td>
      <td>0.07</td>
    </tr>
  </tbody>
</table>