<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>JOSHI</td>
      <td>300.00</td>
      <td>-8.54</td>
    </tr>
    <tr>
      <th></th>
      <td>GHL</td>
      <td>302.00</td>
      <td>-8.21</td>
    </tr>
    <tr>
      <th></th>
      <td>JFL</td>
      <td>557.00</td>
      <td>-7.17</td>
    </tr>
    <tr>
      <th></th>
      <td>SGI</td>
      <td>555.10</td>
      <td>-7.17</td>
    </tr>
    <tr>
      <th></th>
      <td>GFCL</td>
      <td>561.00</td>
      <td>-6.97</td>
    </tr>
    <tr>
      <th></th>
      <td>PPCL</td>
      <td>430.20</td>
      <td>-6.88</td>
    </tr>
    <tr>
      <th></th>
      <td>NFS</td>
      <td>480.00</td>
      <td>-6.80</td>
    </tr>
    <tr>
      <th></th>
      <td>NHDL</td>
      <td>391.00</td>
      <td>-6.64</td>
    </tr>
    <tr>
      <th></th>
      <td>UMRH</td>
      <td>512.00</td>
      <td>-6.48</td>
    </tr>
    <tr>
      <th></th>
      <td>NICL</td>
      <td>765.00</td>
      <td>-6.36</td>
    </tr>
    <tr>
      <th></th>
      <td>SSHL</td>
      <td>306.00</td>
      <td>-6.36</td>
    </tr>
    <tr>
      <th></th>
      <td>AIL</td>
      <td>681.20</td>
      <td>-6.30</td>
    </tr>
    <tr>
      <th></th>
      <td>MPFL</td>
      <td>398.00</td>
      <td>-6.26</td>
    </tr>
    <tr>
      <th></th>
      <td>AKJCL</td>
      <td>272.00</td>
      <td>-6.14</td>
    </tr>
    <tr>
      <th></th>
      <td>EIC</td>
      <td>635.00</td>
      <td>-6.13</td>
    </tr>
    <tr>
      <th></th>
      <td>SLICL</td>
      <td>660.00</td>
      <td>-6.08</td>
    </tr>
    <tr>
      <th></th>
      <td>KPCL</td>
      <td>508.00</td>
      <td>-5.93</td>
    </tr>
    <tr>
      <th></th>
      <td>BFC</td>
      <td>433.00</td>
      <td>-5.89</td>
    </tr>
    <tr>
      <th></th>
      <td>PROFL</td>
      <td>343.10</td>
      <td>-5.87</td>
    </tr>
    <tr>
      <th></th>
      <td>UPCL</td>
      <td>340.10</td>
      <td>-5.82</td>
    </tr>
    <tr>
      <th></th>
      <td>CFCL</td>
      <td>410.00</td>
      <td>-5.79</td>
    </tr>
    <tr>
      <th></th>
      <td>NIL</td>
      <td>1142.00</td>
      <td>-5.78</td>
    </tr>
    <tr>
      <th></th>
      <td>NRIC</td>
      <td>1280.40</td>
      <td>-5.78</td>
    </tr>
    <tr>
      <th></th>
      <td>GRDBL</td>
      <td>328.00</td>
      <td>-5.75</td>
    </tr>
    <tr>
      <th></th>
      <td>MHNL</td>
      <td>398.00</td>
      <td>-5.69</td>
    </tr>
    <tr>
      <th></th>
      <td>HDHPC</td>
      <td>301.00</td>
      <td>-5.64</td>
    </tr>
    <tr>
      <th></th>
      <td>LEC</td>
      <td>301.00</td>
      <td>-5.64</td>
    </tr>
    <tr>
      <th></th>
      <td>RBCL</td>
      <td>16001.00</td>
      <td>-5.57</td>
    </tr>
    <tr>
      <th></th>
      <td>IGI</td>
      <td>1010.00</td>
      <td>-5.52</td>
    </tr>
    <tr>
      <th></th>
      <td>ULI</td>
      <td>634.00</td>
      <td>-5.51</td>
    </tr>
    <tr>
      <th></th>
      <td>MEN</td>
      <td>1030.00</td>
      <td>-5.50</td>
    </tr>
    <tr>
      <th></th>
      <td>AKPL</td>
      <td>488.00</td>
      <td>-5.43</td>
    </tr>
    <tr>
      <th></th>
      <td>PICL</td>
      <td>640.00</td>
      <td>-5.40</td>
    </tr>
    <tr>
      <th></th>
      <td>LGIL</td>
      <td>666.00</td>
      <td>-5.40</td>
    </tr>
    <tr>
      <th></th>
      <td>BARUN</td>
      <td>459.00</td>
      <td>-5.36</td>
    </tr>
    <tr>
      <th></th>
      <td>UMHL</td>
      <td>357.00</td>
      <td>-5.31</td>
    </tr>
    <tr>
      <th></th>
      <td>SHINE</td>
      <td>355.20</td>
      <td>-5.25</td>
    </tr>
    <tr>
      <th></th>
      <td>EICPO</td>
      <td>413.00</td>
      <td>-5.25</td>
    </tr>
    <tr>
      <th></th>
      <td>PIC</td>
      <td>956.00</td>
      <td>-5.22</td>
    </tr>
    <tr>
      <th></th>
      <td>JBBL</td>
      <td>390.80</td>
      <td>-5.15</td>
    </tr>
    <tr>
      <th></th>
      <td>SDLBSL</td>
      <td>1200.00</td>
      <td>-5.14</td>
    </tr>
    <tr>
      <th></th>
      <td>KRBL</td>
      <td>370.00</td>
      <td>-5.13</td>
    </tr>
    <tr>
      <th></th>
      <td>NLG</td>
      <td>845.00</td>
      <td>-5.10</td>
    </tr>
    <tr>
      <th></th>
      <td>LBBL</td>
      <td>429.90</td>
      <td>-5.10</td>
    </tr>
    <tr>
      <th></th>
      <td>KMCDB</td>
      <td>1207.00</td>
      <td>-5.10</td>
    </tr>
    <tr>
      <th></th>
      <td>JBLB</td>
      <td>4355.10</td>
      <td>-5.01</td>
    </tr>
    <tr>
      <th></th>
      <td>RHPL</td>
      <td>342.00</td>
      <td>-5.00</td>
    </tr>
    <tr>
      <th></th>
      <td>PMHPL</td>
      <td>307.00</td>
      <td>-4.95</td>
    </tr>
    <tr>
      <th></th>
      <td>UNHPL</td>
      <td>308.00</td>
      <td>-4.94</td>
    </tr>
    <tr>
      <th></th>
      <td>HGI</td>
      <td>654.00</td>
      <td>-4.93</td>
    </tr>
  </tbody>
</table>