<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>EICPO</td>
      <td>410.70</td>
      <td>-7.50</td>
    </tr>
    <tr>
      <th></th>
      <td>RBCLPO</td>
      <td>15660.00</td>
      <td>-3.09</td>
    </tr>
    <tr>
      <th></th>
      <td>ADBLD83</td>
      <td>1050.00</td>
      <td>-1.96</td>
    </tr>
    <tr>
      <th></th>
      <td>NBLD82</td>
      <td>1025.00</td>
      <td>-1.91</td>
    </tr>
    <tr>
      <th></th>
      <td>ICFCD83</td>
      <td>1160.00</td>
      <td>-1.86</td>
    </tr>
    <tr>
      <th></th>
      <td>NABIL</td>
      <td>1119.00</td>
      <td>-1.58</td>
    </tr>
    <tr>
      <th></th>
      <td>BNT</td>
      <td>16163.70</td>
      <td>-1.43</td>
    </tr>
    <tr>
      <th></th>
      <td>NBF2</td>
      <td>10.72</td>
      <td>-1.29</td>
    </tr>
    <tr>
      <th></th>
      <td>NICL</td>
      <td>806.10</td>
      <td>-0.97</td>
    </tr>
    <tr>
      <th></th>
      <td>SPC</td>
      <td>440.00</td>
      <td>-0.90</td>
    </tr>
    <tr>
      <th></th>
      <td>PBLD84</td>
      <td>1001.00</td>
      <td>-0.89</td>
    </tr>
    <tr>
      <th></th>
      <td>HDL</td>
      <td>4214.00</td>
      <td>-0.82</td>
    </tr>
    <tr>
      <th></th>
      <td>SICL</td>
      <td>1736.00</td>
      <td>-0.80</td>
    </tr>
    <tr>
      <th></th>
      <td>ALBSL</td>
      <td>1508.00</td>
      <td>-0.70</td>
    </tr>
    <tr>
      <th></th>
      <td>SIL</td>
      <td>917.00</td>
      <td>-0.65</td>
    </tr>
    <tr>
      <th></th>
      <td>NRIC</td>
      <td>1150.00</td>
      <td>-0.61</td>
    </tr>
    <tr>
      <th></th>
      <td>NUBL</td>
      <td>1227.90</td>
      <td>-0.49</td>
    </tr>
    <tr>
      <th></th>
      <td>CBBL</td>
      <td>1284.00</td>
      <td>-0.46</td>
    </tr>
    <tr>
      <th></th>
      <td>PICL</td>
      <td>677.00</td>
      <td>-0.44</td>
    </tr>
    <tr>
      <th></th>
      <td>SHIVM</td>
      <td>1520.00</td>
      <td>-0.33</td>
    </tr>
    <tr>
      <th></th>
      <td>TPC</td>
      <td>426.00</td>
      <td>-0.30</td>
    </tr>
    <tr>
      <th></th>
      <td>ILBS</td>
      <td>1391.00</td>
      <td>-0.29</td>
    </tr>
    <tr>
      <th></th>
      <td>GBD80/81</td>
      <td>1020.00</td>
      <td>-0.29</td>
    </tr>
    <tr>
      <th></th>
      <td>AIL</td>
      <td>698.10</td>
      <td>-0.27</td>
    </tr>
    <tr>
      <th></th>
      <td>SLICL</td>
      <td>725.00</td>
      <td>-0.15</td>
    </tr>
    <tr>
      <th></th>
      <td>HURJA</td>
      <td>412.00</td>
      <td>-0.15</td>
    </tr>
    <tr>
      <th></th>
      <td>NTC</td>
      <td>1315.00</td>
      <td>-0.15</td>
    </tr>
    <tr>
      <th></th>
      <td>ULI</td>
      <td>659.00</td>
      <td>-0.15</td>
    </tr>
    <tr>
      <th></th>
      <td>GUFL</td>
      <td>769.90</td>
      <td>-0.01</td>
    </tr>
  </tbody>
</table>