<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>LTP</th>
      <th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>NICFC</td>
      <td>9.00</td>
      <td>-10</td>
    </tr>
    <tr>
      <th></th>
      <td>SFMF</td>
      <td>9.59</td>
      <td>-6.8932</td>
    </tr>
    <tr>
      <th></th>
      <td>NIBLPF</td>
      <td>8.35</td>
      <td>-5.43601</td>
    </tr>
    <tr>
      <th></th>
      <td>MKJC</td>
      <td>500.10</td>
      <td>-5.28409</td>
    </tr>
    <tr>
      <th></th>
      <td>NMBHF1</td>
      <td>9.15</td>
      <td>-4.58811</td>
    </tr>
    <tr>
      <th></th>
      <td>SLCF</td>
      <td>7.84</td>
      <td>-3.92157</td>
    </tr>
    <tr>
      <th></th>
      <td>GIMES1</td>
      <td>9.05</td>
      <td>-1.95016</td>
    </tr>
    <tr>
      <th></th>
      <td>CMF2</td>
      <td>8.25</td>
      <td>-1.9025</td>
    </tr>
    <tr>
      <th></th>
      <td>GBILD86/87</td>
      <td>772.00</td>
      <td>-0.898588</td>
    </tr>
    <tr>
      <th></th>
      <td>ICFCD83</td>
      <td>1016.00</td>
      <td>-0.878049</td>
    </tr>
    <tr>
      <th></th>
      <td>SAEF</td>
      <td>12.63</td>
      <td>-0.315706</td>
    </tr>
    <tr>
      <th></th>
      <td>KBLPO</td>
      <td>118.00</td>
      <td>-0.169205</td>
    </tr>
  </tbody>
</table>